/* Basic Responsive Images and Video */
img,video{
  width: auto; 
  height: auto;
  max-width: 100%; 
}
/* layout */ 
.main{
    display:grid;
    /*1fr (fractional column, can apply to rows as well)*/
    
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo logo"
        "hero hero"
        "title title"
        "intro images"
        "map description"
        "map information";
    
}
.logo{
    grid-area: logo;
}
.hero{
    grid-area: hero; 
}
.title{
    grid-area: title; 
}
.intro{
    grid-area: intro; 
}
.images{
    grid-area: images; 
}
.description{
    grid-area: description; 
}
.map{
    grid-area: map; 
}
.information{
    grid-area: information; 
}
.footer{
    grid-area: footer; 
}

footer {
bottom: 0px;
width: 100%;
text-align: center;
}
<footer align="center">


/*
canvas { 
    margin: 0 auto;
    display: block;
}

#home {
    background-color:tan;
    font-family:sans-serif;
}
ul {
    padding:0;
}
.link {
    font-size: 2em;
    padding: 0.25em 0;
        margin-right: 0.5em;
    display:inline;
}
a { color: red;
}
a:hover {
    color: deeppink;
}
li a {
    color: skyblue;
    transition: color 500ms;
}

#home a {
    text-decoration: none;
    border-top: 1px dotted blue;
}

img {
    width:100%;
    transition: width 1s;
}
omg:hover {
    width:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*/

/* Change the link color to #111 (black) on hover */
/*
li a:hover {
    background-color: #111;
}
*/

